# Ignore everything
*

# But keep Python and Shell script files
!*.py
!*.sh
!*.md

# Also keep the .gitignore file itself
!.gitignore

# (Optional) Keep directory structure
!*/

# Ignore burst dataset
burst/
